:root{
    --bg-color-profile: #0B1B2B;
    --bg-color-body: #071422;
    --bg-color-repo: #112131;
    --bg-color-span: tomato;
    --bg-color-input: #040F1A;

    --bd-color-input: #1C2F41;
    --color-placeholder: #3A536B;

    --bg-color-font: #E7EDF4;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color-body);
    color: var(--bg-color-font);
}

/*Modificando o SCROLLBAR*/
body::-webkit-scrollbar {
    width: 1px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}

.img-body img{
    width: 100%;
    height: 250px;
}

.container{
    display: block;
    margin: auto;
    text-align: center;
    position: relative;
    width: 60%;
    bottom: 5rem;
    padding: 1%;
}

/*Profile*/
.profile{  
    background-color: var(--bg-color-profile);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    padding: 20px;
    gap: 20px;

    box-shadow: 2px 2px #0B1B2B ;
}

.profile-header img{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 5/5;
    object-fit: cover;
    border-radius: 10%;
}

.content-top a{
    /*conteudo dentro do perfil*/
    text-decoration: none;
    color: var(--bg-color-font);
}

.content-top {
    /*Nome do perfil*/
    text-align: start;
}

.profile-bio {
    /*Biografia do perfil*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;  
    height: 90%;
    width: 100%;
}

.content-bio{
    margin-top: 10px;
    margin-left: 15px;
    width: 90%;
}

/*FORM*/
.container-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    text-align: start;
}

.teste{
    text-align: start;
}

input {
    background-color: var(--bg-color-input);
    border: 1px solid var(--bd-color-input); 
    padding: 8px; 
    color: #3A536B; 
    height: 25px;
}

::-webkit-input-placeholder {
    color: var(--color-placeholder);
}
 
:-moz-placeholder {
    color: var(--color-placeholder);
}
 
::-moz-placeholder {
    color: var(--color-placeholder);
}
 
:-ms-input-placeholder {  
    color: var(--color-placeholder);
}


/* REPOSITORIO */


/* Modificando o SCROLLBAR */
.repo-list::-webkit-scrollbar {
    width: 8px;
}
.repo-list::-webkit-scrollbar-thumb {
    background-color: rgba(197, 197, 197, 0.5);
    border-radius: 10px;
}
.repo-list::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1)
}
.repo-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(146, 0, 0, 0.842); 
}
  
.repo {
    margin-top: 20px;
}
  
.repo-list {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
    overflow-y:auto;
    height: 20vh;
  }

.repo-div {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-repo);
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .repo-description {
    display: flex;
    flex-direction: column;
    text-align: start;
    word-wrap: break-word;
  }
  
  .container-language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    background-color: #0B1B2B;
    border-radius: 20px;
  }
  
  .text-repo {
    word-wrap: break-word;
    font-size: large;
    padding: 2px;
    width: 100%;
  }
  
  .language {
    background-color: var(--bg-color-span);
    font-weight: 100;
    padding: 5px;
    border-radius: 15px;
  }
  
  .tittle-repo {
    text-decoration: none;
    color: rgb(255, 250, 250);
    margin-bottom: 13px;
    text-align: center;
    background-color: #0B1B2B;
    padding: 10px; 
    border-radius: 20px;
  }

  .tittle-repo:hover{
    background-color: #0165c9;
    cursor: pointer;
  }
  
  .tittle-repo a {
    color: rgb(255, 250, 250);
    background-color: transparent;
  }

  .link-download{
    text-decoration: none;
    color: var(--bg-color-font);
    padding: 5px;
    padding-inline: 10px;
    border-radius: 20px;
    border: solid 1px #E7EDF4;
  }

  .link-download:hover{
    background-color: #0165c9;
  }
/*Footer*/
footer {
    padding: 20px;
    background-color: var(--bg-color-profile);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--bg-color-font);
    z-index: 999; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

/*Desenvolvedor */
.developer-info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.developer-info a{
    color: var(--bg-color-font);
    text-decoration: none;
}

.developer-info a:hover {
    text-decoration: underline; 
}

/*referencias */
.references h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.references ul {
    padding: 0;
    margin: 0;
}

.references li {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.references a {
    color: var(--bg-color-font);
    text-decoration: none;
}

.references a:hover {
    text-decoration: underline; 
}
